<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicPlaylist</title>
</head>
<body>
    <h1>Artist</h1>
    <br><hr><br>
    <a href="/">Home</a>
    <br>
    <a href="/song">Songs</a>
    <br>
    <a href="/favorites">Favorites</a>
    <br>
    <a href="/playlist">Playlists</a>
</body>
</html>